.container {
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}

.container span {
  display: block;
  transform-origin: center;
  will-change: transform;
  transform: rotate(var(--rotate));
}
